@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${teacher.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
					<#input id="cardId" name="身份证号" underline="true"  value="${teacher.cardId}" readonly="true"/>
					<#input id="teachernum" name="教工号" underline="true"   value="${teacher.teachernum}"  readonly="true"/>
					<#input id="teachername" name="教师姓名" underline="true"  value="${teacher.teachername}"  readonly="true"/>
					<!-- <#select id="department" name="部门"   value="${teacher.department}">
						
					</#select> -->
					<#input id="department" name="部门" value="${teacher.department}" />
                </div>

                <div class="col-sm-6">
                	<!-- <#select id="duty" name="职务" underline="true"  value="${teacher.duty}">
                		
					</#select> -->
					<#input id="duty" name="职务" underline="true" value="${teacher.duty}" />
					<#select id="sex" name="性别" underline="true"  value="${teacher.sex}" readonly="true">
					</#select>
					<#input id="idType" name="类型"   value="${teacher.idType}" />
					<span>注：职工的类型值为1的，表示普通职工，每天限刷1次卡；值为>1的其他数值，表示临时职工，该数值表示总的可刷卡的次数；值为-1，表示该职工为特殊职工，表示该职工可以无限次刷卡。</span>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TeacherInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TeacherInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/school/teacher/teacher_info.js"></script>
@}
