@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-12">
					<#input id="name" name="食堂名称" underline="true"  />
					<#input id="addr" name="食堂地址" underline="true"  />
					<#input id="macaddr" name="食堂MAC地址"  />
                </div>
            </div>

            <div class="row btn-group-m-t text-center">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CanteenInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CanteenInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/school/canteen/canteen_info.js"></script>
@}
